@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@300;400;500;600&display=swap');

// Palette
$primary: #2969ff;
$secondary: #ffce5c;
$tertiary: #ff5c8d;
$quaternary: #8dff5c;
$quinary: #7c5cff;
$light: #f6f8ffff;
$dark: #272d2dff;

// Text colors
$text-light: #aeaeae;
$text-med: #50514fff;
$text-dark: #363636;

// Background colors
$bg-color: #016FB9;
$bg-light: #EFFBFF;
$bg-dark: #454655;
$bg-dark-tr: rgba(255, 255, 255, 0.276);

// Primary font-family
$primary-font: 'Raleway',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;