.App {
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin: 0;
  #container {
    margin: 2rem 0 0 0;
    padding: 1rem;
    #title {
      color: darkslategray;
      margin-bottom: 0.44rem;
      padding-bottom: 0.44rem;
    }
    #subtitle {
      color: darkslategray;
    }
    #chart-container {
      padding: 2rem;
      align-self: center;
    }
  }
}
