// @use './mixins/mixins' as *;
@import './theme/theme';

.App {
  font-family: $primary-font;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $bg-dark;
  color: lightgrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  #chart-title {
    color: $light;
    font-size: 2.22rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.4rem;
  }

  #container {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #chart-container {
      display: flex;
      flex: 1;
      background-color: $bg-light;
      padding: 1rem;
      align-self: center;
      border-radius: 8px;

      .parent {
        max-width: 1000px;
      }
    }
  }
}

#legend {
  padding: 0.77rem;
}
