@import './theme/theme';

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, * {
  font-family: $primary-font;
}

h1, h2, h3, h4, h5 {
  font-family: $primary-font;
}