
.container {
  color: lightgrey;
  width: 100%;
  height: 100%;
  h4 {
    font-size: 1.1rem;
    color: lightgrey;
  }
  .line {
    color: lightgrey;
    padding-bottom: 0.5rem;
    .grid {
      color: lightgrey;
      width: 100%;
      height: 100%;
    }
    .xAxis {
      color: lightgrey;
    }
    .yAxis {
      color: lightgrey;
    }
  }
  p {
    font-size: 1rem;
    color: lightgrey;
  }
}

#chart-container {
  color: lightgrey;
  tspan {
    color: lightgrey;
  }
}