
.container {
  width: 100%;
  height: 100%;
  h4 {
    font-size: 1.1rem;
    color: darkslategray;
  }
  .line {
    .grid {
      width: 100%;
      height: 100%;
    }
  }
  p {
    font-size: 1rem;
    color: darkslategray;
  }
}
